body{
	overflow: hidden;
	box-sizing: border-box;
	font-family: "Palatino Linotype";
	font-weight: bold;
	user-select: none;
	background: #16222A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.calculator{
	width: 350px;
	height: 400px;
	background-color: black;
    margin: 10% auto;
    overflow: hidden;
}

#display{
	width: 89%;
	height: 35%;
	margin: 5% auto;
	background-color: #ccc;
	border: 1px solid black;
	font-size: 50px;
	color: #545e6c;
	position: relative;
}

#screen{
	position: absolute;
	bottom: 0;
	right: 10px;
}

.keys{
	text-align: center;
	width: 90%;
	margin: auto;
	color: black;
	font-size: 20px;
	cursor: pointer;
	
}

.keys span{
	float: left;
	width: 24.3%;
	padding-bottom: 3.5%;
	padding-top: 3.5%;
	background-color: #358daa;
	border: 1px solid black;
}

.keys span:hover{
	background-color: #2a6d7c;
}

.keys span:active{
	background-color: #1a454f;
}

span.operators{
	background-color: #81b7c4;
}

span.operators:hover{
	background-color: #62a2af;
}

span.operators:active{
	background-color: #3d7e8c;
}